.fill {
    width: 100%;
}

.mat-dialog-container {
    padding: 0px;
}

.mat-change {
    background-color: #673ab7;
    color: white;
    animation: change 2s infinite ease-in-out
}

@keyframes change {
    0% {
        background-color: #673ab7;
        transform: scale(1,1) ;
    }
    50% {
        background-color: maroon;
        transform: scale(1.1,1.1);
    }
    100% {
        background-color: #673ab7;
        transform: scale(1,1) ;
    }
  }