<div class="loader">

</div>
<style type="text/css">
  @keyframes loader-animation {
    0% {
      left: 0%;
      width: 0%;
    }

    50% {
      left: 33%;
      width: 33%;
      opacity: 0.30;
    }

    100% {
      left: 100%;
      width: 0%;
    }

  }

  @media screen and (max-width: 600px) { /*O toolbar tem 56px de altura nessa resolucao*/
    .loader {
      background-color: white;
      top: 51px;
      height: 5px;
      animation: loader-animation 1.5s linear infinite alternate;
      position: fixed;
    }
  }

  @media screen and (min-width: 600px) { /*O toolbar tem 64px de altura nessa resolucao*/
    .loader {
      background-color: white;
      top: 59px;
      height: 5px;
      animation: loader-animation 1.5s linear infinite alternate;
      position: fixed;
    }
  }
</style>
