<mat-toolbar id="header" class="mat-elevation-z6" color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/licitacoes'">Licitações</button>
    <button mat-menu-item [routerLink]="'/gestao-de-normas'">Gestão de Normas</button>
    <button mat-menu-item [routerLink]="'/consultorias-assessorias'">Consultorias e Assessorias</button>
    <button mat-menu-item [routerLink]="'/relatorios'">Relatorios</button>
  </mat-menu>
  <button mat-icon-button [routerLink]="'/'">
    <mat-icon>home</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button [routerLink]="'/autenticacao'">
    <mat-icon *ngIf="auth.toggle">lock_open</mat-icon>
    <mat-icon *ngIf="!auth.toggle">lock</mat-icon>
  </button>
  <div *ngIf="!auth.toggle">
    <div class="authCircle" style="animation-delay: 0s"></div>
    <div class="authCircle" style="animation-delay: 1s"></div>

  </div>

</mat-toolbar>
<api-loader *ngIf="loader.toggle"></api-loader>
<div id="content">
  <router-outlet></router-outlet>
</div>