<section>
  <mat-toolbar>
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/licitacoes'">Licitações</button>
          <button mat-menu-item [routerLink]="'/naoexiste'">Nao Existe</button>
      </mat-menu>
      <span>{{title}}</span>
  </mat-toolbar>
</section>  
<div class="corpo">
  <router-outlet></router-outlet>
</div>
